<br>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Price
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    In Stock
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of products">
                <td>{{p.Id}}</td>
                <td>{{p.Title}}</td>
                <td>{{p.Price | currency : 'INR'}}</td>
                <td>{{p.ExpiryDate |date}}</td>
                <td>{{p.Quantity }}</td>

                <td >
                    <ng-container *ngIf="p.isInStock; then instock else outofstock">
                    </ng-container>

                    <ng-template #instock>
                        <i class="fas fa-check"></i>
                    </ng-template>

                    <ng-template #outofstock>
                        <i class="fas fa-times"></i>

                        <button class="btn btn-danger">Order Now</button>
                    </ng-template>
                </td>
            </tr>
        </tbody>

    </table>
</div>
